{% if site.info.sharing.twitter or site.info.sharing.facebook or site.info.sharing.gplus or site.info.sharing.hn %}
<div class="social">
  {% if site.info.sharing.twitter %}
  <div class='twitter'>
    <a href="https://twitter.com/share" class="twitter-share-button" {% if site.info.sharing.twitter.via %}data-via="{{ site.info.sharing.twitter.via }}"{% endif %} data-text="{{ page.title }}" data-related="{{ site.info.twitter }}">Tweet</a>
  </div>
  {% endif %}

  {% if site.info.sharing.facebook %}
  <div class='facebook'>
    <div class="fb-share-button" data-layout="button_count"></div>
  </div>
  {% endif %}

  {% if site.info.sharing.gplus %}
  <div class='google'>
    <div class="g-plusone" data-size="medium"></div>
  </div>
  {% endif %}
    
  {% if site.info.sharing.hn %}
  <div class='hn'>
    <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}" data-count="horizontal">Vote on Hacker News</a>
  </div>
  {% endif %}

  {% if site.info.sharing.reddit %}
  <div class='reddit'>
    <a href="//www.reddit.com/submit" onclick="window.open('//www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title | cgi_escape }}'); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
  </div>
  {% endif %}
</div>
{% endif %}