/* Bodytext font */
$font: Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;
$border_color: #DDD;

@mixin vertical_aligning_container {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.34em; // remove space taken up and prevent word-wrapping
  }            
}

@mixin black_icons {
  .icon-rss { background-position:1px -11px; }
  .icon-twitter { background-position:1px -16px; }
  .icon-facebook { background-position:0px -14px; }
  .icon-github { background-position:0px -19px; }
}
