<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} &mdash; {{ site.info.title }}{% else %}{{ site.info.title }} &mdash; {{ site.info.subtitle }}{% endif %}</title>
  <!--[if lt IE 9]><script src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'></script><![endif]-->
  {% if site.info.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.info.google_font }}" rel="stylesheet" type="text/css">{% endif %}

  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/core.css">
  <link rel="stylesheet" href="/assets/buttons.css">
  <link rel="stylesheet" href="/assets/icons.css">
  <link rel="stylesheet" href="/assets/article.css">
  <link rel="stylesheet" href="/assets/contact_form.css">
  <link rel="stylesheet" href="/assets/syntax.css">
  <link rel="stylesheet" href="/assets/google_map_container.css">
  <link rel="stylesheet" href="/assets/cover.css">
  <link rel="stylesheet" href="/assets/pagination.css">
  <link rel="stylesheet" href="/assets/site_header.css">
  <link rel="stylesheet" href="/assets/site_footer.css">
  <link rel="stylesheet" href="/assets/responsive.css">
  <link rel="stylesheet" href="/assets/app.css">

  <script src="/assets/google_map_fix.js"></script>
  <script src="/assets/zoomable_image.js"></script>
  <script src="/assets/app.js"></script>

  <link rel="shortcut icon" href="/favicon.ico?v2" type="image/x-icon" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.info.title }}" href="/atom.xml" />
  <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.info.title }}{% endif %}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.info.gplus }}">{% endif %}
  {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.info.title }}{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  {% if page.cover_image %}<meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>{% endif %}
  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt }}"/>
  <meta name="description" content="{{ page.excerpt }}"/>
  {% endif %}
  <meta property="og:site_name" content="{{ site.info.title }}">
</head>
<body>

  <header class="site-header">
    <nav>
      <div class="links">
        <a class="brand" href="/">
          <img src="/images/{{ site.info.logo }}" alt="Inc">
        </a>•
        <a href="/about/">About</a>•
        <a href="/talks/">Talks</a>
      </div>
      <div class="social">
        {% include social_links.html %}
      </div>
    </nav>
  </header>

  {{ content }}

  <footer class="site-footer">
    <div class="container">
      Matthew J. McCullough
    </div>
    <div class="container">
      <nav class="social">
        {% include social_links.html %}
      </nav>
    </div>
  </footer>

</body>
</html>
